
.col-6 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row .col-3 .v1, .row .col-3 .v3{
  color: darkblue;
  font-weight: bold;
}


.row {
  flex-direction: row;
}

.Hdiv1 {
  display: flex;
  justify-content: center;  
  overflow: hidden;
  color: #012386;
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;
  line-height: 26.5px; /* 189.286% */
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.Adiv1{
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  margin-bottom: 10px;
  background: url(./images/first.png), lightgray 50% / cover repeat;
  background-size: cover;
  background-position: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.5px; /*126.19%*/
  letter-spacing: -0.525px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Adiv2{
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #E6E9F0;
  background: linear-gradient(180deg, #F0F4FF 0%, rgba(240, 244, 255, 0.00) 100%);
}

/* .Hdiv2 {
  border-radius: 27px;
border: 1px solid #FFF;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
} */

.Ediv1{
  display: flex;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  border: 1px solid #E6E9F0;
  background: linear-gradient(180deg, #F5F5FA 0%, rgba(255, 255, 255, 0.46) 100%);
  font-family: "Quicksand", sans-serif;
}

.EP1 {
  color: #012386;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.5px; /* 110.417% */
  letter-spacing: -0.6px;
}

.EE1{
  color: #343536;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.5px; /* 189.286% */
  letter-spacing: -0.35px;
}

.button-container {
  display: flex;
  position: relative;
  transform: translateY(-50%);
  width: 200%;
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background: #012386;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

.button_text{
	display: inline-flex;
	align-items: center;
  flex-direction:row;
	padding: 0 20px;
	color: #fff;
	height: 100%;
}

.page-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: flex-end;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #383838;
  padding: 3px 15px;
  border-radius: 3px;
}

ul {
  margin: 10px 20px;
}

ul li {
  display: inline-block;
  margin: 0 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  cursor: pointer;
}

ul li.active {
  color: #fff;
  background-image: linear-gradient(#ff4568, #ff4568);
  background-repeat: no-repeat;
}
.btn1, .btn2 {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #383838;
  background: transparent;
  outline: none;
  border: none;
}

.btn1 img {
  width: 24px;
  margin-right: 15px;
}

.btn2 img {
  width: 24px;
  margin-right: 15px;
  transform: rotate(180deg);
}

.button:hover {
  background: darkblue;
}

.button:active {
  background: #580599;
}


